

body {
  font-family: 'DM Serif Text', sans-serif;
  padding: 20px;
}

h6 {
  font-family: 'DM Serif Text', sans-serif;
  color: #331566;
}


div.meter-list-block {
  border:#6a4c93 !important;
  background-color: #DDD3EE !important;
  padding: 24px !important;
  border-radius: 20px;
}



/* div.rate-meter-block {
  border: #A8C19E;
  background-color: #FBECC1;
  padding: 24px;
  border-radius: 20px;
  margin-top: 20px;
} */

label, .label-text, .option-text {
  color: #293556;
}

li.user-email h3 {
  color: #293556;
}

/* div.top-block {
  background-color: #8e9aaf;
} */

#links-right {
  margin-left: auto;
}



#comment-form {
  margin: 24px;

}


h1.title, h3 {
  color: #331566;
}

body {
  /* background: url("https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png") center; */
  background-color: lavender;
  /* background-size: cover; */
}





#search-title {
  color: #2e4583;
}

.flex-example {
  flex-direction: row;
  flex-wrap: wrap;
  grid-auto-rows: 1fr;
}

.btn-outline-primary:hover {
  background-color: #F2F2F2 !important;
  border-color: #6a4c93 !important;
  color: #6a4c93 !important;
}

.btn-outline-primary {
  border-color: #6a4c93 !important;
  background-color: #6a4c93 !important;
  color: #FFFADF !important;
  font-size: 18px;
  
  /* background-color: #f0e6ef !important; */
 
}

button.main-button {
  margin-left: 12px !important;
}

.street-line {
  margin-left: 0px !important;
}

.temp-entry {
  color: #565656;
}

.btn-outline-primary:active {
  
  border-color: #6a4c93 !important;
  font-size: 18px;
  /* background-color: #f0e6ef !important; */
  outline: none !important;
  box-shadow: 0px !important;
  border-radius: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus {
  border-color:#6a4c93 !important;
  outline: none !important;
  box-shadow: 0px !important;
  border-radius: 4px;
  background-color: #F2F2F2 !important;
}

#signup-email:focus {
  border-color:#6a4c93 !important;
  outline: none !important;
  /* box-shadow: 0px !important; */
}

.btn-success {
  border-color: #402466 !important;
  background-color: #6a4c93 !important;
  box-shadow: none !important;
}

#comment-form-show {
  
  border-radius: 12px;
  height: 40px;
  text-align: center !important;
  padding-left: 24px;
  padding-right: 24px;
}
/* input[type="text"]:focus.form-control {
  border-color:#6a4c93 !important;
  outline: none !important;
  box-shadow: 0px !important;
} */

p, code {
  font-family: "Open Sans";
  color: #3E3E3E;
}

.props-comment, .user-email {
  font-family: 'DM Serif Text', sans-serif;
}

.user-email {
  color: #313131;
}

code, #comment-list, .props-comment {
  color: #331566;
}
/* #627659 #FFFCEF #6a4c93 #343a40 #F9FDF7 #272F24 #FFFADF #FBECC1 #6a4c93*/