

body {
  font-family: 'DM Serif Text', sans-serif;
}

/* nav {
  display: flex;
  background: rgb(88, 89, 91);
}

nav p,
nav a,
nav button {
  display: inline-block;
  color: white;
  padding: 0;
  margin: 0.5em;
  font-size: 1em;
  font-family: inherit;
}

nav a,
nav button {
  background: transparent;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  text-decoration: none;
}

nav a:hover,
nav button:hover {
  cursor: pointer;
  border-bottom: 0;
  color: yellow;
} */

#links-right {
  margin-left: auto;
}

h2 {
  color: 8b8c89
  
}

body {
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png") center;
  background-size: cover;
}

.props-comment {
  color: #03045e;
}

code {
  color: #03045e
}

#search-title {
  color: #03045e;
}

.flex-example {
  flex-direction: row;
  flex-wrap: wrap;
  grid-auto-rows: 1fr;
}

.btn-outline-primary:hover {
  background-color: #6a4c93 !important;
  color: white !important;
}

.btn-outline-primary {
  
  border-color: #6a4c93 !important;
  font-size: 18px;
  /* background-color: #f0e6ef !important; */
  color: #6a4c93 !important;
  
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color:#6a4c93 !important;
  outline: none !important;
  /* box-shadow: 0px !important; */
}

#signup-email:focus {
  border-color:#6a4c93 !important;
  outline: none !important;
  /* box-shadow: 0px !important; */
}

/* input[type="text"]:focus.form-control {
  border-color:#6a4c93 !important;
  outline: none !important;
  box-shadow: 0px !important;
} */