{% extends 'base.html' %}
{% block title %}Parking Search Home{% endblock %}

{% block head %}
  
  <script src="/static/js/homepage.js"></script>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6dcW5pE-CSD_XbsVRPhdEfFHSOanDzYU&callback=initMap"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <!-- <link rel="stylesheet" href="/static/css/maps.css"/> -->
{% endblock %}

{% block body %}
  
  <!-- <div class="row">  
    <i class="col-12" id="user">Hello {{ session.get('email', 'Guest') }}!</i>
  </div>  -->

  
  <div class="mb-0 row col-12">
    
  </div>
  <div class="row col-12 mb-3 mt-3 gx-3 gy-2 align-items-center justify-content-between top-block">  
    <div class="col-auto justify-content-center">      
      <h1 class="col-auto title">Welcome <span id="user">{{ session.get('email', '') }} </span> to the Parking Meter Search Page!</h1>      
    </div>
    <div class="col-auto">
      <div class="row justify-content-center">
        <br>
        <div class="col-auto" id="login-entry">
          <button class="col-auto btn btn-outline-primary" id='login' type="submit" value="login" name="login">Log In</button>      
          <button class="col-auto btn btn-outline-primary" id='signup' type="submit" value="signup" name="signup">Sign Up</button>
        </div>
        <button class="col-auto btn btn-outline-primary" data-bs-target="#comment-form" aria-controls="comment-form" id='logoff' type="submit" value="logoff" name="logoff" hidden>Log Off</button>
      </div>     
    </div>   
  </div>
  <hr>
  <br>
    
  
  
  <form id="login-form" class="col-12 col-md-6 offset-md-6 col-lg-2 offset-lg-10">      
    <h3>Please Login</h3>  
    
    <div class="mb-3 col-auto">      
      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
    </div>
    
    <div class="mb-3 col-auto">      
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-primary" id="login-submit">Login</button>
      <button type="submit" class="btn btn-outline-secondary" id="login-cancel">Cancel</button>
    </div>
    <br>   
  </form>
  

  

  <form id="signup-form" class="col-12 col-md-6 offset-md-6 col-lg-2 offset-lg-10">    
    <h3>Please Signup</h3>
    <div class="mb-3 col-auto">
      <input type="email" class="form-control" name="email" id="signup-email" placeholder="Email">
    </div>
    <div class="mb-3 col-auto">
      <input type="password" class="form-control" name="password" id="signup-password" placeholder="Password">
    </div>
    <div class="mb-3 col-auto">
      <input type="password" class="form-control" name="conform-password" id="confirm-password" placeholder="Confirm Password">
    </div>
    <div>
      <button type="submit" class="btn btn-outline-primary" id="signup-submit">Signup</button>
      <button type="submit" class="btn btn-outline-secondary" id="signup-cancel" class="cancel">Cancel</button>
    </div>
    <br>
  </form>
  

  
  
  
  
  
  <div class="row col-12 col-md-7 mb-3">
    <form class="row col-12" id="address">
      <div class="row mb-3 col-12">
        <h3 id="search-title">Search nearby meters</h3>
      </div>
      <div class="row mb-3 col-12">
        <button class="btn btn-outline-primary col-5 main-button" type="submit" id="submit-address">Use address below</button>
        <button class="btn btn-outline-primary col-5 main-button" id="allow_curr_location">Use my current location</button>        
      </div>
      <div class="row mb-3 gx-3 gy-2 align-items-center street-line">
        <label for="street" class="col-auto col-form-label">Street Address</label>
        <input class="col-auto" type="text" name="street" id="street" required>
        <label for="city" class="col-auto col-form-label">City</label>
        <input class="col-auto" type="text" name="city" id="city" value="San Francisco" disabled>
        <label class="col-auto col-form-label">State</label>
        <div class="col-auto">            
          <select class="form-select option-text" name="state" id="state" disabled>
            <option class="option-text" value="AR">Arkansas</option>
            <option class="option-text" value="CA" selected="selected">California</option>
          </select>
        </div>       
        <div class="col-auto">
          <span for="radius" class="col-auto label-text">Radius</label>
          <input class="col-auto label-text" type="number" id="radius" name="radius" data-decimals="2" min="0.1" max="0.5" step="0.1" value="0.1"/> 
          <span class="col-auto label-text">Mile</span>
        </div>
      </div>
      <!-- <div class="row mb-3 col-12">
        <button class="btn btn-outline-primary col-5 main-button" type="submit" id="submit-address">Use address below</button>
        <button class="btn btn-outline-primary col-5 main-button" id="allow_curr_location">Use my current location</button>        
      </div>       -->
    </form>
  </div>
    


  <div class="row flex-example" style="">
    <div class="col-12 col-md-8" class="map" style="height: 800px;">
      <div id="map"></div>
    </div>      
    <div class="col-12 col-md-4">
      <div class="row meter-list-block">
      <h3>Nearby meters</h3>
      <div id="status"></div>
      <section id="meter_list">...</section>
      <br>
      </div>
      <br><br>
      <!-- <div class="row rate-meter-block"> -->
      <button id="comment-form-show" class="btn btn-outline-primary col-auto" type="button" data-bs-toggle="collapse" data-bs-target="#comment-form" aria-controls="comment-form">
        Rate a meter (Please Login)
      </button>
      <br>
      <form class="collapse" id="comment-form">
        <fieldset>         
          <div class="row mb-3">              
            <div class="col-12 col-md-4">
              <select class="form-select" id="comment-list">
                <option id="option" selected>Choose meter</option>
              </select>
            </div>
          </div>          
          <div class="row mb-3">
            <div class="col-auto">
              <input class="form-control" type="text" name="comment" id="comment" size="20" placeholder="Comment">
            </div>
            <label for="score" class="col-auto col-form-label">Rate</label>
            <div class="col-auto">
              <input class="form-control" type="number" id="score" name="score" min="0" max="5" step="1">
            </div>
          </div>          
          <button class="btn btn-outline-primary" id="comment-submit">Submit Comment</button>            
        </fieldset>  
      </form>
    <!-- </div> -->
    </div> 
  </div>

  <div class="row col-12">  
    <section id='recent-web-comments'>    
      <script type="text/jsx" src="/static/js/updateComments.jsx"></script>
    </section>
  </div>
   

  
{% endblock %}


