{% extends 'base.html' %}
{% block title %}Parking Search Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/maps.css"/>
{% endblock %}

{% block body %}
  

  <script src="/static/js/homepage_2.js"></script>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6dcW5pE-CSD_XbsVRPhdEfFHSOanDzYU&callback=initMap"></script>
  <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script> -->

  <h1>Welcome!</h1> <h1 id="user" hidden>{{ session.get('email') }}</h1>

  <section class="map">
    <div id="map"></div>
  </section>

  <form id="comment-form">
    <h2>Please leave comment</h2>

    <h3>Pick a meter from searching results</h3>
    <select id="comment-list">
      <option id="option" placeholder="select from drop down list"></option>
    </select>
    <p>
      Comment <input type="text" name="comment" id="comment">
    </p>
    
    <p>
      <button id="comment-submit">Submit Comment</button>
      
    </p>
  </form>

  <h2>List view of nearby meters will show below</h2>
  <section id="meter_list"></section>  

  <section id="get-address">
    <h2>Enter your address</h2>
    <form id="address">
      <p>Street Address <input type="text" name="street" id="street"></p>
      <p>City <input type="text" name="city" id="city" value="San Francisco"></p>
      <p>
        State
        <select name="state" id="state">
          <option value="AR">Arkansas</option>
          <option value="CA" selected="selected">California</option>
        </select>	
      </p>
      <p>
        Search Radius
        <input type="number" id="radius" name="radius" min="0.1" max="0.5" step="0.1" value="0.1"> Mile(s)
      </p>
      <p>
        <button type="submit" id="submit-address">Search Nearby</button>
      </p>
    </form>
  </section>

    
  <section>
    <h2>Automatically locate you and search nearby?</h2>
    <button id="allow_curr_location">OK</button>
  </section>

  
  
  <div id="login-entry">      
      
      <h2>log in or sign up to leave comments</h2>
      <button id='login' type="submit" value="login" name="login">Log In</button>      
      <button id='signup' type="submit" value="signup" name="signup">Sign Up</button> 
      
  </div>

  <button id='logoff' type="submit" value="logoff" name="logoff" hidden>Log Off</button>
  
  
  <form id="login-form">
    <h2>Please sign in</h2>
    <p>
      Email <input type="text" name="email" id="email">
    </p>

    <p>
      Password <input type="password" name="password" id="password">
    </p>
    <p>
      <button id="login-submit">Submit</button>
      <button id="login-cancel" class="cancel">Cancel</button>
    </p>
    
  </form>

  <form id="signup-form">
    <h2>Please sign up</h2>
    <p>
      Email <input type="text" name="email" id="signup-email">
    </p>

    <p>
      Password <input type="password" name="password" id="signup-password">
    </p>
    <p>
      Confirm Password <input type="password" name="conform-password" id="confirm-password">
    </p>
    <p>
      <button id="signup-submit">Submit</button>
      <button id="signup-cancel" class="cancel">Cancel</button>
    </p>
  </form>

 
{% endblock %}


