{'results': [
    {'address_components': [
        {'long_name': '5th Avenue', 'short_name': '5th Ave', 'types': ['route'
          ]
        },
        {'long_name': 'San Francisco', 'short_name': 'SF', 'types': ['locality', 'political'
          ]
        },
        {'long_name': 'San Francisco County', 'short_name': 'San Francisco County', 'types': ['administrative_area_level_2', 'political'
          ]
        },
        {'long_name': 'California', 'short_name': 'CA', 'types': ['administrative_area_level_1', 'political'
          ]
        },
        {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political'
          ]
        }
      ], 'formatted_address': '5th Ave, San Francisco, CA, USA', 'geometry': {'bounds': {'northeast': {'lat': 37.7903048, 'lng': -122.4594622
          }, 'southwest': {'lat': 37.7584715, 'lng': -122.4665384
          }
        }, 'location': {'lat': 37.7741713, 'lng': -122.4627385
        }, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 37.7903048, 'lng': -122.4594622
          }, 'southwest': {'lat': 37.7584715, 'lng': -122.4665384
          }
        }
      }, 'partial_match': True, 'place_id': 'ChIJ72whl0aHhYARqdgkFMIVUKE', 'types': ['route'
      ]
    }
  ], 'status': 'OK'
}